<a href="{{ site.baseurl | prepend: site.url }}/#top" class="go-to-top">
  <i class="catif catif-chevron-up"></i>
  <span class="label">Go to top</span>
</a>
<footer class="footer">
  <div class="container">
    <ul class="footer-link-list list-unstyled">
      <li><a href>Career opportunities</a></li>
      <li><a href>Privacy policy</a></li>
      <li><a href>Partners and friends</a></li>
    </ul>
  </div>
</footer>
<script src="{{ "/js/vendor.min.js?v=1.0.@@hash" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/js/main.min.js?v=1.0.@@hash" | prepend: site.baseurl }}" charset="utf-8"></script>
