<nav class="navbar">
  <div class="container">
      <a href="{{ site.baseurl | prepend: site.url }}/#top" class="navbar-brand" title="Bridge Roots">
        <img class="logo" src="{{ site.baseurl | prepend: site.url }}/images/brlogo.svg" alt="Bridge Roots logo" />
        <span class="title">BRIDGE ROOTS</span>
      </a>
    <div class="navbar-nav">
      <!-- <input id="navbarHamburger" type="checkbox" class="navbar-hamburger-checkbox" /> -->
      <div class="navbar-hamburger-icon" data-target="navbarMenu"><i class="catif catif-hamburger icon"></i></div>
      <ul class="navbar-menu" id="navbarMenu">
        <li><a href="{{ site.baseurl | prepend: site.url }}/#about">Who are we</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/#services">Services</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/#team">Team</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- top anchor for scroll-to-top -->
<div id="top"></div>
