<nav class="navbar">
  <div class="container">
      <a href="{{ site.baseurl | prepend: site.url }}/#top" class="navbar-brand" title="Bridge Roots">
        <img class="logo" src="{{ site.baseurl | prepend: site.url }}/images/brlogo.svg" alt="Bridge Roots logo" />
        <span class="title">BRIDGE ROOTS</span>
      </a>
    <div class="navbar-nav">
      <!-- <input id="navbarHamburger" type="checkbox" class="navbar-hamburger-checkbox" /> -->
      <div class="navbar-hamburger-icon" data-target="navbarMenu"><i class="catif catif-hamburger icon"></i></div>
      <ul class="navbar-menu" id="navbarMenu">
        {% if page.url contains "-ch.html" %}
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-ch.html#about">关于我们</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-ch.html#services">业务介绍</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-ch.html#team">团队介绍</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-ch.html#contact">联系我们</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/#top">English</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-jp.html#top">日本語</a></li>
        {% elsif page.url contains "-jp.html" %}
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-jp.html#about">事務所紹介</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-jp.html#services">業務案内</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-jp.html#team">弁護士・会計士のご紹介</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-jp.html#contact">お問い合わせ</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/#top">English</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-ch.html#top">中文</a></li>
        {% else %}
        <li><a href="{{ site.baseurl | prepend: site.url }}/#about">Who are we</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/#services">Services</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/#team">Team</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/#contact">Contact</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-ch.html#top">中文</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/index-lang-jp.html#top">日本語</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
<!-- top anchor for scroll-to-top -->
<div id="top"></div>
