---
layout: default
---
<div class="page-content container">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <p>
      {% for branch in page.branch %}
      {% if forloop.last %}
      <span class="bio-branch">{{ branch | capitalize }}</span>
      {% else %}
      <span class="bio-branch">{{ branch | capitalize }}</span> |
      {% endif %}
      {% endfor %}
    </p>
    <h1>{{ page.firstname | capitalize }} {{ page.lastname | capitalize }}</h1>
    <p>{{ page.title }}</p>
    <div class="row">
      <div class="nine columns">
        {{ content }}
      </div>
      <div class="three columns">
        <img src="{{ site.baseurl | prepend: site.url }}/images/{{ page.image }}.jpg" class="img-responsive" alt="{{ page.firstname }} {{ page.lastname }}" />
      </div>
    </div>
  </article>
  {% assign relatedmembers = site.members | where: "branch", page.branch %}
  {% if relatedmembers.size > 1 %}
  <hr>
  <h4>Other attorneys at
    {% for branch in page.branch %}
    {% if forloop.last %}
    <span class="bio-branch">{{ branch | capitalize }}</span>
    {% else %}
    <span class="bio-branch">{{ branch | capitalize }}</span> &
    {% endif %}
    {% endfor %}
     office</h4>
  <div class="photowall text-center">
    {% for relatedmember in relatedmembers %}
    {% if relatedmember.alias != page.alias %}
    <figure data-branch="{{ relatedmember.branch }}" class="photowall-item">
      <a href="{{ site.baseurl | prepend: site.url }}/{{ relatedmember.url }}"><img src="{{ site.baseurl | prepend: site.url }}/images/{{ relatedmember.image }}-sm.jpg" alt="{{ relatedmember.firstname }} {{ relatedmember.lastname }}" class="img-responsive" /></a>
      <figcaption>{{ relatedmember.firstname }} {{ relatedmember.lastname }}</figcaption>
    </figure>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>
