---
layout: default
---
<div class="page-content container">
  <h1>{{ page.name }}</h1>
  <div class="row">
    <div class="six columns">
      <p>
        Chief Representative Attorney: {{ page.chief }}
      </p>
    </div>
    <div class="six columns">
      <p>
        {{ page.address.street }} <br>
        {{ page.address.state }} {{ page.address.zipcode }} {{ page.address.country }}
      </p>
      <p>
        Tel: {{ page.tel }} <br>
        Fax: {{ page.fax }}
      </p>
    </div>
  </div>
  <div class="row">
    {{ content }}
  </div>
</div>
