//about
.about {
  width: 100%;
  margin: 0 auto;
  .carousel-fw {
    display: none;
  }
  @media screen and (min-width: $breakpoint-md) {
    height: $hero-height-md;
    .carousel-fw {
      display:block;
    }
  }
  position: relative;
  background-color: $color-brand;
  color: #fff;
  // overlay
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    // same height as parent
    @media screen and (min-width: $breakpoint-md) {
      height: $hero-height-md;
    }
    width: 100%;
    //dark mask over images to make sure white text is visible
    background-color: fade-out(#000,
    .5);
    z-index: 0;
  }
}

.about-text {
  padding-top: $spacing-unit-xl;
  @media screen and (min-width: $breakpoint-md) {
    bottom: $spacing-unit-xl;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
  }
}
.about-branchs {
  // display: none;
  //remove spaceing for inline-block
  font-size: 0;
}
.about-branch {
  background-color: fade-out($color-accent, .3);
  padding: 1em;
  text-align: center;
  display: inline-block;
  width: 100%;
  //reset font-size
  font-size: initial;
  @media screen and (min-width: $breakpoint-md) {
    width: 33%;
  }
  &, &:visited, &:hover {
    color: #fff;
  }
  &:hover, &:focus {
    background-color: fade-out($color-brand, .5);
  }
}

.about-read-more {
  text-align: center;
  cursor: pointer;
  padding: $spacing-unit-sm;
  border: 1px solid #fff;
  display: none;
  i {
    padding-left: $spacing-unit-sm;
  }
  @media screen and (min-width:$breakpoint-md) {
    width: 240px;
  }
}
.about-more {
  display: none;
}
