//about
.about {
  width: 100%;
  margin: 0 auto;
  .carousel {
    display: none;
  }
  @media screen and (min-width: $breakpoint-md) {
    height: $hero-height-md;
    .carousel {
      display:block;
    }
  }
  position: relative;
  background-image:url(../images/hero-1.jpg);
  background-repeat:no-repeat;
  background-size: auto 100%;
  background-position:top center;
  color: #fff;
  // overlay
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    // same height as parent
    @media screen and (min-width: $breakpoint-md) {
      height: $hero-height-md;
      z-index:1;
    }
    height: 100%;
    width: 100%;
    //dark mask over images to make sure white text is visible
    background-color: fade-out(#000,
    .5);
    z-index: 0;
  }
}

.about-text {
  padding-top: $spacing-unit-xl;
  @media screen and (min-width: $breakpoint-md) {
    bottom: $spacing-unit-xl;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
  }
}
.about-offices {
  //remove spaceing for inline-blockx
  font-size: 0;
  margin-top: $spacing-unit;
}
.about-office {
  background-color: fade-out($color-accent, .3);
  padding: .5em;
  text-align: center;
  display: inline-block;
  width: 100%;
  min-height: 4.5em;
  overflow: hidden;
  //reset font-size
  font-size: initial;
  @media screen and (min-width: $breakpoint-md) {
    width: 20%;
  }
  &, &:visited, &:hover {
    color: #fff;
  }
  &:hover, &:focus {
    background-color: $color-accent;
  }
}

.about-read-more {
  text-align: center;
  cursor: pointer;
  padding: $spacing-unit-xs;
  opacity: .5;
  @include transition(opacity, ease, .3s);
  *,
  a {
    &,
    &:visited {
      color: #fff;
    }
  }
  i {
    padding-left: $spacing-unit-sm;
  }
  @media screen and (min-width:$breakpoint-md) {
    width: 180px;
  }
  &:hover {
    opacity: 1;
  }
}

.about-more {
  max-height: 0;
  opacity: 0;
  @include transition(all, ease, .3s);
  overflow: hidden;
  &.active {
    max-height: none;
    opacity: 1;
  }
  p, h5 {
    margin-bottom: .5rem;
  }
}
