.blog {
  background-image: url("../images/bg-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: $spacing-unit-xxl 0;
  @media screen and (min-width: $breakpoint-md) {
    background-size: 100%;
  }
}

.blog-button {
  line-height: normal;
  &, &:visited {
    color: #fff;
    border-color: #fff;
  }
  &:hover, &:focus {
    background-color: $color-brand;
  }
  @media screen and (min-width: $breakpoint-md) {
    font-size: 1.2em;
  }
}
