.contact {
  background-color: $color-brand;
  color: #fff;
  .input-wrapper {
    position: relative;
  }
  label {
    color: $color-brand;
    position: absolute;
  }
  input,
  textarea {
    overflow: hidden;
    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        opacity: 0;
      }
    }
  }
  textarea {
    height: 316px;
  }
  .btn.cta {
    background-color: $color-accent;
    &:hover,
    &:focus {
      background-color: lighten($color-accent, 10%);
    }
  }
}
