input,
textarea {
  outline: none;
  border: 2px solid transparent;
  width: 100%;
  padding: 16px 0;
}

input {
  &[type="submit"] {
    height: auto;
  }
}

textarea {
  resize: vertical;
}
