input,
textarea {
  outline: none;
  border: 2px solid transparent;
  width: 100%;
}

input {
  &[type="submit"] {
    padding: $spacing-unit;
    height: auto;
  }
}

textarea {
  resize: vertical;
}
