.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: $color-accent;
  padding: $spacing-unit;
  cursor: pointer;
  &,
  &:visited {
    color: #fff;
  }
  &:hover,
  &:focus {
    color: $color-brand;
  }
  i {
    padding-right: $spacing-unit-sm;
  }
  @include transition(all, ease, .5s);
  &.hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
