.go-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: $color-accent;
  padding: $spacing-unit;
  cursor: pointer;
  &,
  &:visited {
    color: #fff;
  }
  &:hover,
  &:focus {
    color: $color-brand;
  }
  .label {
    display: none;
    padding-left: $spacing-unit-sm;
  }
  @include transition(all, ease, .5s);
  &.hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  @media screen and (min-width: $breakpoint-md) {
    .label {
      display: initial;
    }
  }
}

.page-content {
  padding: $spacing-unit*6 $spacing-unit;
}
