.photowall {
  padding: 0;
  margin: 0;
  font-size: 0; //remove inline block space
  background-color: $color-grey-light;
}

.photowall-item {
  padding: 0;
  margin: 0;
  width: 20%;
  max-height: 200px;
  clear: both;
  display: inline-block;
  position: relative;
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    font-size: 12px;
    background-color: fade-out(#000, .5);
    color: #fff;
    @include transition(min-height,
    ease,
    .3s);
  }
  &:hover,
  &:focus,
  &.active {
    cursor: pointer;
    &.empty {
      cursor: auto;
    }
    figcaption {
      // show name when screen is big
      @media screen and (min-width: $breakpoint-md) {
        height: auto;
        padding: 1em 0;
      }
    }
  }
}
.photowall-detail {
  color: #fff;
  // display: none;
  font-size: initial;
  text-align: left;
  &.active {
    display: block;
  }
}
.close-button {
  display: block;
  position: fixed;
  top: $spacing-unit-xxl;
  right: $spacing-unit;
  color: $color-brand;
  font-size: 28px;
  z-index: 1000;
  padding:0;
  cursor: pointer;
}
