---
layout: default
lang: en
---
<div id="top"></div>
<div class="content-wrapper">
    <section class="about" id="about">
        {% include carousel.html %}
        <div class="container about-text">
            <h1>About us</h1>
            <p>BridgeRoots is a comprehensive international law firm. We provide both domestic and cross-border services in the areas of General Corporate (including personnel and labor issues, such as work rules, salary rules, etc. ), M&A, corporate reorganization,
                civil rehabilitation, business succession, liquidation and bankruptcy, debt collection, international trade, intellectual property (registration of patent, trade mark, IP infringement issues, etc.), real estate/construction, anti-monopoly
                and anti-dumping, international dispute resolution, immigration and residence issue, etc., with cooperation of a number of business partners in both China and Korea.</p>
            <span class="about-read-more center-block" data-target="about_more"><label class="about-read-more-label" data-expand="Read more" data-collapse="Hide">Read more</label> <i class="catif catif-chevron-down about-read-more-icon"></i></span>
            <p class="about-more" id="about_more">BridgeRoots is established by Mr. Hashimoto Yoshifumi, a veteran lawyer with profound legal theory and long years of practical experience. After graduated from the Law School of Waseda University, Lawyer Hashimoto joined Takai Nobuo Law Firm
                and became the chief representative lawyer of its Shanghai Office in 2004. During his career in China, Lawyer Hashimoto had a wide communication with and built a deep connection with businessmen, legal experts such as university professors,
                consulates and organizations in Shanghai and from Japan or Korea, what have made a great contribution to his future career. In 2007, Lawyer Hashimoto founded BridgeRoots in his hometown Fukuoka and extended to Tokyo, Nagoya and Shanghai
                in later following years, with the dream of bridging Asian countries as Japan, China and Korea. Since BridgeRoots focuses on team building and personnel training, we have constructed a team with professional skills, efficient coordination
                and service spirit in the past years. Each lawyer has his/her own areas of expertise and available languages, such as Japanese, English, Chinese, Korean, at the same time we also have an internal coordination mechanism and personnel assignment
                which make sure our clients are able to get more professional legal service to realize the maximum of the interests.</p>
            <div class="about-offices">
                {% assign offices = site.offices | where:"lang", page.lang | sort:"weight" %} {% for office in offices %}
                <a class="about-office center-block" href="{{ site.baseurl | prepend: site.url }}{{ office.url }}">{{ office.alias | capitalize }} <br>{{ office.tel }}</a> {% endfor %}
            </div>
        </div>
    </section>
    <section class="services" id="services">
        <div class="container">
            <h1>Services</h1>
            <div class="highlight">
                {% assign services = site.services | sort: "weight" | where:"lang", page.lang %} {% for service in services %}
                <figure class="highlight-item">
                    {% if forloop.first %}
                    <div data-detail="service_detail_{{ service.alias }}" class="highlight-icon active">
                        <i class="{{ service.icon }}"></i>
                    </div>
                    {% else %}
                    <div data-detail="service_detail_{{ service.alias }}" class="highlight-icon">
                        <i class="{{ service.icon }}"></i>
                    </div>
                    {% endif %}
                    <figcaption>{{ service.name }}</figcaption>
                </figure>
                {% endfor %}
            </div>
        </div>
        <div class="service-detail">
            <div class="container">
                {% assign services = site.services | sort: "weight" | where:"lang", page.lang %} {% for service in services %} {% if forloop.first %}
                <div id="service_detail_{{ service.alias }}" class="service-list center-block active">
                    {% else %}
                    <div id="service_detail_{{ service.alias }}" class="service-list center-block">
                        {% endif %} {% for item in service.items %}
                        <div class="service-item">
                            <span class="service-item-title">{{ item.name }}</span>
                            <span class="service-item-read-more" data-detail="service_item_{{ service.alias }}_{{ item.alias }}">Read more</span>
                        </div>
                        <div class="service-item-description" id="service_item_{{ service.alias }}_{{ item.alias }}">
                            <div class="service-close pull-right" title="Close detail" data-target="service_item_{{ service.alias }}_{{ item.alias }}"><i class="catif catif-navigate-close"></i></div>
                            <h3>{{ item.name }}</h3>
                            <p>
                                {{ item.description }}
                            </p>
                        </div>
                        <div class="service-item empty">
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
    </section>
    <section class="team" id="team">
        <div class="container">
            <h1>Team</h1>
            <div class="team-filter text-center">
                <a title="Show all team members" class="team-office active" data-office="all">All</a> {% assign offices = site.offices | sort: "weight" | where:"lang","en" %} {% for office in offices %} {% if office.alias != "shanghai" %}
                <a title="Show team members of {{ office.name }} office" class="team-office" data-office="{{ office.alias }}">{{ office.name }}</a> {% endif %} {% endfor %}
            </div>
            <div class="team-thumbnail">
                <div class="photowall text-center">
                    {% assign members = site.members | sort: "weight" | where: "lang", page.lang %} {% for member in members %}
                    <figure data-office="{{ member.office }}" class="photowall-item">
                        <a href="{{ site.baseurl | prepend: site.url }}{{ member.url }}"><img src="{{ site.baseurl | prepend: site.url }}/images/{{ member.image }}-sm.jpg" alt="{{ member.firstname }} {{ member.lastname }}" class="img-responsive" /></a>
                        <figcaption>{{ member.firstname }} {{ member.lastname }}</figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </div>
            <div class="team-join text-center">
                <h1>Want to be part of the team?</h1>
                <a href="{{ site.baseurl | prepend: site.url }}/careers">> See open positions</a>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container">
            <h1>Contact</h1>
            <form class="form">
                <div class="row">
                    <div class="six columns">
                        <div class="row">
                            <div class="twelve columns input-wrapper">
                                <input id="txtName" name="Name" type="text" placeholder=" " />
                                <label for="txtName">Name</label>
                            </div>
                            <div class="twelve columns input-wrapper">
                                <input id="txtEmail" name="Email" type="text" placeholder=" " />
                                <label for="txtEmail">Email</label>
                            </div>
                            <div class="twelve columns input-wrapper">
                                <input id="txtAddress" name="Address" type="text" placeholder=" " />
                                <label for="txtAddress">Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="six columns input-wrapper">
                                <input id="txtZipcode" name="Zipcode" type="text" placeholder=" " />
                                <label for="txtZipcode">Zipcode</label>
                            </div>
                            <div class="six columns input-wrapper">
                                <input id="txtState" name="State" type="text" placeholder=" " />
                                <label for="txtState">State</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns input-wrapper">
                                <input id="txtCompany" name="Company" type="text" placeholder=" " />
                                <label for="txtCompany">Company Name (optional)</label>
                            </div>
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="input-wrapper">
                            <textarea id="txtMessage" name="Message" placeholder=" "></textarea>
                            <label for="txtMessage">Message</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns offset-by-nine input-wrapper">
                        <input type="submit" name="Send" value="Send" class="btn btn-default cta" />
                    </div>
                </div>
            </form>
        </div>
    </section>
    </div>
