---
layout: default
---
<div id="top"></div>
<div class="content-wrapper">
    <section class="about" id="about">
        <ul class="carousel-fw">
            <li>
                <!--carousel slide holder tag-->
            </li>
            <li>
                <!--carousel slide holder tag-->
            </li>
            <li>
                <!--carousel slide holder tag-->
            </li>
        </ul>
        <div class="container about-text">
          <h1>关于我们</h1>
            <p>BridgeRoots是一家综合性国际律师事务所，由法人总代表，桥本吉文律师创立于2007年5月日本福冈市，并得到迅速的发展，逐步设立起了东京、名古屋、上海、博多分所及法人。与此同时，与多家中国、韩国律师事务所有业务合作，共同为国内外客户提供包括：公司综合类业务、公司并购・重组、民事再生、企业继承、企业破产清算、应收账款和债权回收、国际贸易、知识产权、房地产与建设工程、反垄断反倾销、国际争端解决、民事诉讼、税务、在留资格及入管的相关业务等。</p>
            <span class="about-read-more center-block" data-target="about_more"><label class="about-read-more-label" data-expand="展开" data-collapse='收起'>展开</label> <i class="catif catif-chevron-down about-read-more-icon"></i></span>
            <p class="about-more" id="about_more">BridgeRoots自成立伊始就高度重视团队的建设和人才的培养，并在多年的执业实践中，锤炼了一支服务态度认真、专业技能精湛、协作配合高效的律师队伍。BridgeRoots每个律师通常专注并专长于某一两个业务领域，并能够熟练使用日语、汉语、韩语、英语，当遇到跨专业的法律业务时，高效的内部协调机制及人才调配方式可以确保其他业务领域的律师随时提供有力支持与紧密配合，确保委托人利益的实现。</p>
            <div class="about-offices">
                {% assign offices = site.offices | where:"lang","ch" | sort:"weight" %}
                {% for office in offices %}
                <a class="about-office center-block" href="{{ site.baseurl | prepend: site.url }}{{ office.url }}">{{ office.nameshort }} <br>{{ office.tel }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="services" id="services">
        <div class="container">
            <h1>业务介绍</h1>
            <div class="highlight">
              {% assign services = site.services | sort: "weight" | where:"lang","ch" %}
                {% for service in services %}
                <figure class="highlight-item">
                  {% if forloop.first %}
                    <div data-detail="service_detail_{{ service.alias }}" class="highlight-icon active">
                  {% else %}
                    <div data-detail="service_detail_{{ service.alias }}" class="highlight-icon">
                  {% endif %}
                        <i class="{{ service.icon }}"></i>
                    </div>
                    <figcaption>{{ service.name }}</figcaption>
                </figure>
                {% endfor %}
            </div>
        </div>
        <div class="service-detail">
            <div class="container">
              {% assign services = site.services | sort: "weight" | where:"lang","ch" %}
                {% for service in services %}
                {% if forloop.first %}
                  <div id="service_detail_{{ service.alias }}" class="service-list center-block active">
                {% else %}
                  <div id="service_detail_{{ service.alias }}" class="service-list center-block">
                {% endif %}
                {% for item in service.items %}
                  <div class="service-item">
                      <span class="service-item-title">{{ item.name }}</span>
                      <span class="service-item-read-more" data-detail="service_item_{{ service.alias }}_{{ item.alias }}">了解更多</span>
                  </div>
                  <div class="service-item-description" id="service_item_{{ service.alias }}_{{ item.alias }}">
                    <div class="service-close pull-right" title="Close detail" data-target="service_item_{{ service.alias }}_{{ item.alias }}"><i class="catif catif-navigate-close"></i></div>
                    <h3>{{ item.name }}</h3>
                    <p>
                      {{ item.description }}
                    </p>
                  </div>
                        <div class="service-item empty">
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
    </section>
    <section class="team" id="team">
        <div class="container">
            <h1>专业团队</h1>
            <div class="team-filter text-center">
                <a title="Show all team members" class="team-office active" data-office="all">All</a>
                {% assign offices = site.offices | sort: "weight" | where:"lang","ch" %}
                {% for office in offices %}
                {% if office.alias != "shanghai" %}
                <a title="{{ office.name }}团队" class="team-office" data-office="{{ office.alias }}">{{ office.nameshort }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="team-thumbnail">
                <div class="photowall text-center">
                  {% assign members = site.members | sort: "weight" | where:"lang","ch" %}
                    {% for member in members %}
                    <figure data-office="{{ member.office }}" class="photowall-item">
                        <a href="{{ site.baseurl | prepend: site.url }}{{ member.url }}"><img src="{{ site.baseurl | prepend: site.url }}/images/{{ member.image }}-sm.jpg" alt="{{ member.firstname }} {{ member.lastname }}" class="img-responsive" /></a>
                        <figcaption>{{ member.lastname }}{{ member.firstname }}</figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </div>
            <div class="team-join text-center">
                <h1>欢迎加入我们！</h1>
                <a href="{{ site.baseurl | prepend: site.url }}careers">> 查看招聘职位</a>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container">
            <h1>联系方式</h1>
            <form class="form">
                <div class="row">
                    <div class="six columns">
                        <div class="row">
                            <div class="twelve columns input-wrapper">
                                <input id="txtName" name="Name" type="text" placeholder=" " />
                                <label for="txtName">姓名</label>
                            </div>
                            <div class="twelve columns input-wrapper">
                                <input id="txtEmail" name="Email" type="text" placeholder=" " />
                                <label for="txtEmail">Email</label>
                            </div>
                            <div class="twelve columns input-wrapper">
                                <input id="txtAddress" name="Address" type="text" placeholder=" " />
                                <label for="txtAddress">地址</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="six columns input-wrapper">
                                <input id="txtZipcode" name="Zipcode" type="text" placeholder=" " />
                                <label for="txtZipcode">邮编</label>
                            </div>
                            <div class="six columns input-wrapper">
                                <input id="txtState" name="State" type="text" placeholder=" " />
                                <label for="txtState">省/市</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns input-wrapper">
                                <input id="txtCompany" name="Company" type="text" placeholder=" " />
                                <label for="txtCompany">公司（可选）</label>
                            </div>
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="input-wrapper">
                            <textarea id="txtMessage" name="Message" placeholder=" "></textarea>
                            <label for="txtMessage">留言</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns offset-by-nine input-wrapper">
                        <input type="submit" name="submit" value="发送" class="btn btn-default cta" />
                    </div>
                </div>
            </form>
        </div>
    </section>
    </div>
