---
layout: default
---
<div id="top"></div>
<div class="content-wrapper">
    <section class="about">
        {% include carousel.html %}
        <div class="container about-text">
          <h1>弁護士法人ブリッジルーツについて</h1>
            <p>弁護士法人ブリッジルーツでは、２００７年より、上海に法律オフィスを設置するとともに、中国・韓国現地の法律事務所との提携により、迅速且つ的確な法的コンサルタント業務を実施しています。日本企業の中国・韓国進出のみならず、中国・韓国企業の日本進出についての法的サポートも取り扱っています。</p>
            <span class="about-read-more center-block" data-target="about_more"><label class="about-read-more-label" data-expand="続きを読む" data-collapse='隠す'>もっと詳しくは</label> <i class="catif catif-chevron-down about-read-more-icon"></i></span>
            <div class="about-more" id="about_more">
              <h5>法人のお客様</h5>
              <p><strong>法務＋会計のワンストップサービス</strong><br>ブリッジルーツは、企業法務に対応する弁護士とともに公認会計士もメンバーに加わり、法務・会計が密接に連携したワンストップサービスを提供しています。法務＋会計の密接な連携が、ブリッジルーツの大きな強みとなっているのです。</p>
              <p><strong>各分野の専門家との連携で生み出されるリーガルサービス</strong><br>ブリッジルーツは、税務分野（税理士）、知的財産法分野（弁理士）、人事労務分野（社会保険労務士）、会社法・不動産法分野（司法書士）、許認可分野（行政書士）等の各分野の専門家事務所と提携し、様々な局面で幅広い観点から案件に対応しています。</p>
              <h5>個人のお客様</h5>
              <p><strong>お客様の大切なものを守りたい</strong><br>ブリッジルーツは、その場しのぎの対応ではなく、お客様それぞれのご事情をしっかりとお聞かせいただいた上で、トータルな視点からご相談いただきました案件に関する最良の選択肢をご提供させていただきたいと考えています。お客様にとって大切なものとは――、ブリッジルーツの原点はここにあるのです。</p>
              <h5>渉外法務－中国・韓国関係業務</h5>
              <p><strong>日中韓を結ぶブリッジルーツ・ネットワーク</strong><br>ブリッジルーツは、2007年より、上海に法律オフィスを設置するとともに、中国・韓国現地の法律事務所との提携により、迅速かつ的確な法的コンサルタント業務の実施に注力しています。日本企業の中国・韓国進出のみならず、中国・韓国企業の日本進出についての法的サポートも行なっています。日本語はもちろん、中国語、韓国語、英語による対応が可能です。</p>
            </div>
            <div class="about-offices">
                {% assign offices = site.offices | where:"lang","jp" | sort:"weight" %}
                {% for office in offices %}
                <a class="about-office center-block" href="{{ site.baseurl | prepend: site.url }}{{ office.url }}">{{ office.nameshort }} <br>{{ office.tel }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="services" id="services">
        <div class="container">
            <h1>業務案内</h1>
            <div class="highlight">
              {% assign services = site.services | sort: "weight" | where:"lang","jp" %}
                {% for service in services %}
                <figure class="highlight-item">
                  {% if forloop.first %}
                    <div data-detail="service_detail_{{ service.alias }}" class="highlight-icon active">
                  {% else %}
                    <div data-detail="service_detail_{{ service.alias }}" class="highlight-icon">
                  {% endif %}
                        <i class="{{ service.icon }}"></i>
                    </div>
                    <figcaption>{{ service.name }}</figcaption>
                </figure>
                {% endfor %}
            </div>
        </div>
        <div class="service-detail">
            <div class="container">
              {% assign services = site.services | sort: "weight" | where:"lang","jp" %}
                {% for service in services %}
                {% if forloop.first %}
                  <div id="service_detail_{{ service.alias }}" class="service-list center-block active">
                {% else %}
                  <div id="service_detail_{{ service.alias }}" class="service-list center-block">
                {% endif %}
                {% for item in service.items %}
                  <div class="service-item">
                      <span class="service-item-title">{{ item.name }}</span>
                      <span class="service-item-read-more" data-detail="service_item_{{ service.alias }}_{{ item.alias }}">詳しくは</span>
                  </div>
                  <div class="service-item-description" id="service_item_{{ service.alias }}_{{ item.alias }}">
                    <div class="service-close pull-right" title="Close detail" data-target="service_item_{{ service.alias }}_{{ item.alias }}"><i class="catif catif-navigate-close"></i></div>
                    <h3>{{ item.name }}</h3>
                    {% if item.description %}
                    <p>{{ item.description }}</p>
                    {% endif %}
                    <ul>
                      {% for bullet in item.bullets %}
                        <li>{{ bullet }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                        <div class="service-item empty">
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
          </div>
          <div class="container service-primary">
            <div class="row">
              <a href="{{ site.baseurl | prepend: site.url }}/innovation" class="four columns service-primary-item">
                <img class="img-responsive" src="{{ site.baseurl | prepend: site.url }}/images/hero-innovation.jpg" />
                <span class="caption">「経営革新等支援機関」認定</span>
              </a>
              <a href="{{ site.baseurl | prepend: site.url }}/medical" class="four columns service-primary-item">
                <img class="img-responsive" src="{{ site.baseurl | prepend: site.url }}/images/hero-medical.jpg" />
                <span class="caption">医療法人の事業承継業務</span>
              </a>
              <a href="{{ site.baseurl | prepend: site.url }}/companyimage" class="four columns service-primary-item">
                <img class="img-responsive" src="{{ site.baseurl | prepend: site.url }}/images/hero-companyimage.jpg" />
                <span class="caption">ネット誹謗中傷対策</span>
              </a>
            </div>
          </div>
    </section>
    <section class="team" id="team">
        <div class="container">
            <h1>弁護士・会計士のご紹介</h1>
            <div class="team-filter text-center">
                <a title="Show all team members" class="team-office active" data-office="all">全て</a>
                {% assign offices = site.offices | sort: "weight" | where:"lang","jp" %}
                {% for office in offices %}
                {% if office.alias != "shanghai" %}
                <a title="{{ office.name }}オフィス" class="team-office" data-office="{{ office.alias }}">{{ office.nameshort }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="team-thumbnail">
                <div class="photowall text-center">
                  {% assign members = site.members | sort: "weight" | where:"lang","jp" %}
                    {% for member in members %}
                    <figure data-office="{{ member.office }}" class="photowall-item">
                        <a href="{{ site.baseurl | prepend: site.url }}{{ member.url }}"><img src="{{ site.baseurl | prepend: site.url }}/images/{{ member.image }}-sm.jpg" alt="{{ member.firstname }} {{ member.lastname }}" class="img-responsive" /></a>
                        <figcaption>{{ member.lastname }} {{ member.firstname }}</figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </div>
            <div class="team-join text-center">
                <h1>採用情報</h1>
                <a href="{{ site.baseurl | prepend: site.url }}/careers-lang-jp/">> 現在弁護士の方、これから弁護士になられる方</a>
            </div>
        </div>
    </section>
    <section class="blog" id="blog">
      <div class="container">
        <div class="row">
          <div class="six columns offset-by-three">
            <a href="http://bridgeroots.blog.jp/" class="center-block btn btn-ghost blog-button">ブリッジルーツの日本・中国・韓国見聞録</a>
          </div>
        </div>
      </div>
    </section>
    <section class="contact" id="contact">
        <div class="container">
            <h1>お問い合わせ</h1>
            <form class="form">
                <div class="row">
                    <div class="six columns">
                        <div class="row">
                            <div class="twelve columns input-wrapper">
                                <input id="txtName" name="Name" type="text" placeholder=" " />
                                <label for="txtName">名前</label>
                            </div>
                            <div class="twelve columns input-wrapper">
                                <input id="txtEmail" name="Email" type="text" placeholder=" " />
                                <label for="txtEmail">メール</label>
                            </div>
                            <div class="twelve columns input-wrapper">
                                <input id="txtAddress" name="Address" type="text" placeholder=" " />
                                <label for="txtAddress">住所</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="six columns input-wrapper">
                                <input id="txtZipcode" name="Zipcode" type="text" placeholder=" " />
                                <label for="txtZipcode">郵便番号</label>
                            </div>
                            <div class="six columns input-wrapper">
                                <input id="txtState" name="State" type="text" placeholder=" " />
                                <label for="txtState">県</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns input-wrapper">
                                <input id="txtCompany" name="Company" type="text" placeholder=" " />
                                <label for="txtCompany">会社名</label>
                            </div>
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="input-wrapper">
                            <textarea id="txtMessage" name="Message" placeholder=" "></textarea>
                            <label for="txtMessage">メッセージ</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns offset-by-nine input-wrapper">
                        <input type="submit" name="submit" value="送信する" class="btn btn-default cta" />
                    </div>
                </div>
            </form>
        </div>
    </section>
    </div>
